.print-container {
    display: flex;
    width: 100%;
    height: 100vh;
}
.print-container .print-image {
    background: linear-gradient(309.35deg, #ececec 0%, #fff 101.15%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.print-container .print-configure {
    background-color: white;
    width: 487px;
    max-width: 487px;
}
.print-container .print-configure .print-configure-options {
    padding: 0 10px;
    margin-top: 15px;
    height: calc(100vh - 458px);
    overflow: auto;
}
.print-container .print-configure .print-configure-options .custom-accordion .p-accordion-tab {
    margin: 15px 0px;
}
.print-container .print-configure .print-configure-options .custom-accordion .p-accordion-toggle-icon {
    order: 2;
    font-size: 22.1px;
    font-weight: 700;
    color: black;
}
.print-container .print-configure .print-configure-options .custom-accordion .p-accordion-header-link {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 0 15px;
}
.print-container .print-configure .print-configure-options .custom-accordion .tab-header-configure {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.print-container .print-configure .print-configure-options .custom-accordion .tab-header-configure .tab-header-configure-title {
    margin-left: 10px;
}
.print-container .print-configure .print-configure-options .custom-accordion .tab-header-configure .tab-header-configure-title p {
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.print-container .print-configure .print-configure-options .custom-accordion .tab-header-configure .tab-header-configure-title span {
    font-family: Kantumruy;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #808080;
}
.print-container .print-configure .print-configure-options .picture-content {
    padding: 10px 15px;
}
.print-container .print-configure .print-configure-options .picture-content img {
    display: inline-block;
    margin-right: 17px;
    margin-top: 7px;
}
.print-container .print-configure .print-configure-options .picture-content .picture-item {
    display: inline-block;
    width: fit-content;
    position: relative;
}
.print-container .print-configure .print-configure-options .picture-content .picture-item span {
    position: absolute;
    width: fit-content;
    right: 5px;
    top: -4px;
    font-size: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.print-container .print-configure .print-configure-options .picture-content .picture-actions {
    margin-top: 20%;
}
.print-container .print-configure .print-configure-options .picture-content .picture-actions hr {
    border-top: 1px solid #cecece;
}
.print-container .print-configure .print-configure-options .picture-content .picture-actions .picture-action-item {
    display: inline-block;
    text-align: center;
    margin: 20px 0px;
}
.print-container .print-configure .print-configure-options .picture-content .picture-actions .picture-action-item img {
    margin: auto;
}
.print-container .print-configure .print-configure-options .picture-content .picture-actions .picture-action-item p {
    font-family: Kantumruy;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #808080;
    margin-top: 5px;
}
.print-container .print-configure .print-configure-options .picture-content .picture-actions .picture-action-item div {
    padding: 0 15px;
    text-align: center;
}
.print-container .print-configure .print-configure-options .paper-canvas-content {
    padding: 10px 15px;
}
.print-container .print-configure .print-configure-options .paper-canvas-content input[type='radio'] {
    accent-color: #6a9ab4;
    margin-top: 0px;
}
.print-container .print-configure .print-configure-options .paper-canvas-content .paper-radio-action {
    display: inline-flex;
    margin-right: 20px;
}
.print-container .print-configure .print-configure-options .paper-canvas-content label {
    margin: 0% 10% 0 5%;
    font-family: Kantumruy;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}
.print-container .print-configure .print-configure-options .paper-canvas-content hr {
    border-top: 1px solid #cecece;
}
.print-container .print-configure .print-configure-options .paper-canvas-content .custom-dropdown {
    width: 100%;
    height: 40px;
    background: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin: 20px 0px;
}
.print-container .print-configure .print-configure-options .paper-canvas-content .custom-dropdown span {
    box-shadow: none;
    font-family: Kantumruy;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.p-accordion-content {
    padding: 0;
}
.print-container .print-configure .print-configure-options .paper-canvas-content .paper-canvas-detail {
    margin-top: 20px;
    display: flex;
}
.print-container .print-configure .print-configure-options .paper-canvas-content .paper-canvas-detail .paper-canvas-picture {
    display: inline-block;
    width: fit-content;
}
.print-container .print-configure .print-configure-options .paper-canvas-content .paper-canvas-detail .paper-canvas-picture img{
    width: auto;
    max-width:none;
}
.print-container .print-configure .print-configure-options .paper-canvas-content .paper-canvas-detail .paper-canvas-descripiton {
    display: inline-block;
    font-family: Kantumruy;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #404040;
    padding-left: 10px;
}
.print-container .print-configure .print-configure-options .matting-content {
    padding: 10px 15px;
    position: relative;
}
.print-container .print-configure .print-configure-options .matting-content .default-matting-opt {
    position: relative;
}
.print-container .print-configure .print-configure-options .matting-content .default-matting-opt .individual-matting-header-title {
    font-family: Kantumruy;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin: 10px 0px;
}
.print-container .print-configure .print-configure-options .matting-content .default-matting-opt .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    left: 158px;
}
.print-container .print-configure .print-configure-options .matting-content .default-matting-opt .triangle-top {
    border-width: 0 10px 10px 10px;
    margin-left: 168px;
    border-color: transparent transparent #f1eded transparent;
}
.print-container .print-configure .print-configure-options .matting-content #slider {
    width: 100%;
}
.print-container .print-configure .print-configure-options .matting-content input[type='range'] {
    accent-color: black;
}
.print-container .print-configure .print-configure-options .matting-content #tooltip {
    position: absolute;
    bottom: -19px;
    margin-left: 168px;
    transform: translateX(-50%);
    color: black;
    text-align: center;
    padding: 5px;
    width: 57.12px;
    height: 24.31px;
    top: 60px;
    background: #f1eded;
    border-radius: 7px;
    font-family: Kantumruy;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
}
.print-container .print-configure .print-configure-options .matting-content .advanced-matting-opt {
    display: flex;
    justify-content: space-between;
}
.print-container .print-configure .print-configure-options .matting-content .advanced-matting-opt .individual-matting-header-title {
    font-family: Kantumruy;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin: 10px 0px;
}
.print-container .print-configure .print-configure-options .matting-content .advanced-matting-opt .individual-matting-size {
    display: flex;
}
.print-container .print-configure .print-configure-options .matting-content .advanced-matting-opt .individual-matting-size .matting-size-item {
    display: grid;
    width: 40px;
    margin-right: 5px;
}
.print-container .print-configure .print-configure-options .matting-content .advanced-matting-opt .individual-matting-size .matting-size-item input {
    width: 40px;
    height: 30px;
    border: 1px solid black
}
.print-container .print-configure .print-configure-options .matting-content .advanced-matting-opt .individual-matting-size .matting-size-item label {
    font-family: Kantumruy;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}
.print-container .print-configure .print-configure-options .matting-content .advanced-matting-opt .individual-matting-color-container .individual-matting-header-title {
    margin-left: 10px;
}
.print-container .print-configure .print-configure-options .matting-content .advanced-matting-opt .individual-matting-color-container .individual-matting-colors {
    display: flex;
}
.print-container .print-configure .print-configure-options .matting-content .advanced-matting-opt .individual-matting-color-container .individual-matting-colors .matting-color-item {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.print-container .print-configure .print-configure-options .matting-content .advanced-enalble-action {
    font-family: 'Kantumruy';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-top: 35px;
}
.print-container .print-configure .print-configure-header {
    width: 100%;
    height: 243px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px 0px #000 1A;
}
.print-container .print-configure .print-configure-header .header-title {
    font-family: Roboto Slab;
    font-size: 26px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    width: 100%;
}
.print-container .print-configure .add-cart-container {
    padding: 10px 25px;
    height: 200px;
    position: sticky;
    width: 100%;
    bottom: 0;
    background-color: black;
}
.print-container .print-configure .add-cart-container .cart-amount {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.print-container .print-configure .add-cart-container .cart-amount .unit {
    font-family: Kantumruy;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
    margin-right: 10px;
    margin-top: 23px;
}
.print-container .print-configure .add-cart-container .cart-amount .amount {
    font-family: Kantumruy;
    font-size: 40px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
}
.print-container .print-configure .add-cart-container .add-cart-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.print-container .print-configure .add-cart-container .add-cart-details .qty-container {
    background-color: black;
    width: 130px;
    text-align: center;
}
.print-container .print-configure .add-cart-container .add-cart-details .qty-container p {
    color: white;
    margin-bottom: 15px;
}
.print-container .print-configure .add-cart-container .add-cart-details .qty-container .p-inputtext:enabled:focus {
    box-shadow: none;
}
.print-container .print-configure .add-cart-container .add-cart-details .qty-container input {
    width: 70px;
    color: white;
    height: 34px;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: black;
}
.print-container .print-configure .add-cart-container .add-cart-details .qty-container button {
    background: black;
    color: white;
    height: 34px;
    width: 30px;
    border: 1px solid white;
}
.print-container .print-configure .add-cart-container .add-cart-details .qty-container .p-inputnumber-button-up {
    border-left: none;
}
.print-container .print-configure .add-cart-container .add-cart-details .qty-container .p-inputnumber-button-down {
    border-right: none;
}
.print-container .print-configure .add-cart-container .add-cart-details .add-cart-action-container {
    width: 190px;
    text-align: end;
}
.print-container .print-configure .add-cart-container .add-cart-details .add-cart-action-container p {
    color: white;
    margin-bottom: 15px;
}
.print-container .print-configure .add-cart-container .add-cart-details .add-cart-action-container .add-cart-action {
    width: 190px;
    background-color: white;
    font-family: Kantumruy;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-align: center;
    color: black;
}
.print-container .print-configure .add-cart-container .add-card-terms {
    margin: 20px 0px;
    width: 100%;
    text-align: center;
    font-family: Kantumruy;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.p-dropdown-items-wrapper ul {
    padding: 10px;
}
.p-dropdown-items-wrapper ul li {
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Kantumruy;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.drag-drop-tag {
    padding-top: 20px;
}
.drag-drop-tag img{
    margin: auto;
}
@media screen and (max-width: 430px) {
    .print-container {
        display: block;
        height: 100%;
   }
    .print-container .print-image {
        padding: 40px 0px;
   }
    .print-container .print-image img {
        width: 163px;
        height: 163px;
   }
    .print-container .print-configure {
        width: 100%;
        margin: auto;
   }
    .print-container .print-configure .print-configure-header {
        display: none;
   }
    .print-container .print-configure .add-cart-container {
        width: 100%;
   }
    .print-container .print-configure .add-cart-container .add-cart-details {
        width: 100%;
   }
    .print-container .print-configure .add-cart-container .cart-amount {
        width: 100%;
   }
}
